img.resize {
  width: auto;
  height: 200px;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-family: monospace;
  font-weight: 400;
  text-decoration: underline;
  color: blue;
  text-align: center;
}
